<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <style>

    </style>
</head>
<body>
    <header>
        <h1>easy way</h1>
        <p>Na era da tecnologia, muitas pessoas acabam se perdendo em suas tarefas. Por isso, existe a Easy Way, um gerenciador de tarefas fácil e intuitivo, onde o usuário tem total liberdade sobre sua rotina. Além de que o app fornece ajuda para organizar de maneira mais prática e acessível, podendo ter melhor visualização ao elaborar suas tarefas e contribuir na geração de demandas de múltiplas tarefas diárias e atividades que muitas pessoas acumulam no dia a dia.</p>
        <p>Para que ocorra perfeitamente a ideia que o gerenciador de tarefas Easy Way tem para resolver seus problemas, o app utiliza como metodologia o método 5S, um método japonês cheio de princípios fundamentais que a Easy Way utiliza como meio de melhorar a organização de tarefas e poder ter uma ampla eficiência no aplicativo como uma base de guia.</p>
    </header>
    <nav><a href="/exemple">Historia</a> <a href="#"></a></nav>
</body>
</html>